# Logische Operatoren

Logische Operatoren werden es uns erlauben mehrere Vergleichsoperatoren zu kombinieren. Die logischen Operatoren die wir kennenlernen werden sind die folgenden: 

* UND - &
* ODER - |
* NICHT - !

Am besten schauen wir uns einige Beispiel an, um sie zu verstehen:

In [1]:
# Staten wir mit einer Variablen x
x <- 10

Jetzt wollen wir wissen, ob 10 kleiner als 20 UND größer als 5 ist:

In [2]:
x < 20

[1] TRUE

In [3]:
x > 5

[1] TRUE

In [4]:
x < 20 & x > 5

[1] TRUE

Für die Leserlichkeit können wir außerdem Klammern hinzufügen. Außerdem gehen wir so sicher, dass die gewünschte Reihenfolge eingehalten wird:

In [5]:
(x < 20) & (x>5)

[1] TRUE

In [6]:
(x < 20) & (x>5) & (x == 10)

[1] TRUE

Wir können uns das ganze als Serie von logischen Boolean Werten vorstellen: TRUE & TRUE & TRUE. Wir geben ein einzelnes TRUE zurück, wenn alle Werte TRUE sind. Schaun wir uns ein Beispiel an, indem dem nicht so ist:

In [7]:
x==2 & x > 1

[1] FALSE

Wir erhalten FALSE, da zwar x > 1 TRUE ist, aber nicht beide Verlgeiche. Wir haben UND genutzt, also festgelegt, dass alle Werte TRUE ergeben müssen. Sofern es nur einer muss verwenden wir ODER:

In [8]:
x==2 | x > 1

[1] TRUE

Es muss allso nur entweder das eine *oder* das andere TRUE sein:

In [9]:
x==1 | x==12

[1] FALSE

## NICHT!

Du kannst dir NICHT als Umkehrung jedes logoschen Wertes vorstellen, der ihm nachsteht. Ein Beispiel:

In [10]:
(10==1)

[1] FALSE

In [11]:
!(10==1)

[1] TRUE

In [12]:
# Wir können sie auch mehrfach verwenden (unüblich, aber möglich)
!!(10==1)

[1] FALSE

# Use Case Beispiel

Hier ein kurzes Beispiel eines echten Use Cases dieser Operatoren. Stellt euch den folgenden Data Frame vor:

In [13]:
df <- mtcars

In [14]:
df

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

Dieser zeigt Daten für verschiedenste Auto Modele (und ist in R enthalten). Wählen wir nun alle Modelle mit mindestens 20 MPG (11.76 L/100km):

In [15]:
df[df['mpg'] >= 20,] # Achtet auf das Komma beim Index

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710     22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Merc 240D      24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230       22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Fiat 128       32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic    30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona  21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Fiat X1-9      27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2  26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

Toll! Jetzt können wir noch logische Operatoren kombinieren: Schauen wir uns alle Autos mit mindestens 20 MPG und über 100 PS an!

In [16]:
df[(df['mpg'] >= 20) & (df['hp'] > 100),]

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Hornet 4 Drive 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

Das hat euch hoffentlich einen Eindruck davon verschafft, wie nützlich diese logischen Operatoren sind!

## Logische Operatoren mit Vektoren

Wir haben zwei Möglichkeiten Vektoren mit logischen Operatoren zu vergeleichen: Element für Element oder nur die jeweils ersten Elemente im Vektor. So gehen wir sicher einen einzigen logischen Wert als Ergebnis zu erhalten. Was es genau damit auf sich hat ist für den Moment nicht so wichtig, wir kommen darauf in einer späteren Lektion zurück.

In [17]:
tf <- c(TRUE,FALSE)
tt <- c(TRUE,TRUE)
ft <- c(FALSE, TRUE)

In [18]:
tt & tf

[1]  TRUE FALSE

In [19]:
tt | tf

[1] TRUE TRUE

Um die ersten Elemente zu vergleichen nutzen wir && oder ||

In [24]:
ft && tt

[1] FALSE

In [25]:
tt && tf

[1] TRUE

In [26]:
tt || tf

[1] TRUE

In [27]:
tt || ft

[1] TRUE

Das war es für die logischen Operatoren! Dieses Wissen wird uns wissen, wenn wir uns If und Else Bedingungen anschauen.