# Dplyr Übung - Aufgaben

**Löse die folgenden Aufgaben einzig mit der *dplyr* Library. Folgende Funktionen werden wir wiederholen:**

* filter() (und slice())
* arrange()
* select() (und rename())
* distinct()
* mutate() (und transmute())
* summarise()
* sample_n() und sample_frac()

In [1]:
library(dplyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

** Wir werden den mtcars Data Frame für diese Übung nutzen!**

In [2]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

**Gebe die Zeilen der Autos mit einem mpg-Wert über 20 und genau 6 Zylindern aus.**

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
1 21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
2 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
3 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1

**Ordne den Data Frame neu. Dabei soll zuerst nach cyl sortiert werden und dann absteigend nach wt.**

  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1 24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
2 22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
3 21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2
4 21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
5 22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
6 32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1

**Wähle die Spalten mpg und hp.**

                  mpg  hp
Mazda RX4         21.0 110
Mazda RX4 Wag     21.0 110
Datsun 710        22.8  93
Hornet 4 Drive    21.4 110
Hornet Sportabout 18.7 175
Valiant           18.1 105

**Wähle die einzigartigen Werte der gear Spalte.**

  gear
1 4
2 3
3 5

** Erstelle eine neue Spalte "Performance", welche durch hp geteilt durch wt berechnet wird.**

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb Performance
1 21.0 6   160  110 3.90 2.620 16.46 0  1  4    4    41.98473
2 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4    38.26087
3 22.8 4   108   93 3.85 2.320 18.61 1  1  4    1    40.08621
4 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1    34.21462
5 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2    50.87209
6 18.1 6   225  105 2.76 3.460 20.22 1  0  3    1    30.34682

**Finde den durchschnittlichen mpg Wert durch Verwendung von dplyr.**

  avg_mpg
1 20.09062

** Nutze den Pipe Operator, um den durchschnittlichen hp Wert für Autos mit 6 Zylindern zu erhalten.**

  avg_hp
1 122.2857

## Gut gemacht!